.login-container {
    display: flex;
    background-color: #eee;
    align-items: center;
    height: 100vh;
    justify-content: center;
}

.login-page {
    display: flex;
    width: 100%;
    height: 70%;
    justify-content: center;
}

/* Wrapping the image in a container for easier overlay */
.login-image-overlay {
    position: relative;
    width: 50%;
    height: 100%;
}

.login-image {
    width: 100%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    object-fit: cover; /* Ensures the image covers the container without distortion */
}

.login-image-overlay::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6); /* Grayish overlay */
    border-radius: 10px 0 0 10px;
    z-index: 1;
}


.text-reveal-animation {
    position: absolute;
    top: 55%;
    left: 47%;
    transform: translate(-50%, -50%); /* Center the text horizontally and vertically */
    z-index: 2; /* Ensures the text is above the overlay */
    color: rgba(255, 255, 255, 0.5); /* Text color contrast against the image */
    font-size: 75px; /* Adjust the font size as needed */
    font-weight: bold;
    letter-spacing: 4px;
}